nav {
  .container-fluid {
    .navbar-brand {
      img {
        height: 70px;
      }
    }

    .navbar-nav {
      display: flex;
      gap: 5px;
      align-items: baseline;

      li {
        border: 1px solid #333;
        border-radius: 5px;

        a {
          padding: 0 5px;
          font-size: 0.7rem;
          font-weight: 500;
          color: #333;

          &:hover {
            color: #333;
          }
        }
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
